.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contenedorPresentacion {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.presentacion {
  display: flex;
  justify-content: flex-end;
}

.img-name {
  display: flex;
}

.titulo {
  color: rgb(244, 248, 10);
}

.tituloNombre {
  color: #ffffff;
}

.subtitulo {
  color: rgb(244, 248, 10);
}

.nombre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.titulos {
  display: flex;
  flex-direction: column;
}

.home {
  /* background-image: url("https://thumbor.cdn.classpert.com/kdPcknNJ2ipT5w_c1mdy3wm-DJw=/768x0/https%3A%2F%2Fcdn.classpert.com%2Fuploads%2Flenguajes-de-programacion-mas-usados-b52ff03c998b4649ca03334cd252d502.png"); */
  background-image: url("https://img.freepik.com/vector-gratis/fondo-muro-oscuro_1390-191.jpg?w=360");
  background-position:fixed;
  background-size: cover;
  background-attachment:absolute; 
  display: flex;
  flex-direction: column;
  image-resolution: 4k;
  background-blend-mode: saturation;
  font-size: large;
}

.nav-conteiner {
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(201, 247, 248);
  margin: 50px;
  margin-left: 0;
}

.boton {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: none;
  font-size: large;
}

.boton:hover {
  color: rgb(244, 248, 10);
}

.boton:focus {
  color: rgb(244, 248, 10);
}

.cv {
  display: flex;
  text-decoration: none;
  margin-top: 200px;
  font-size: large;
  color: black;
}

.cv:hover {
  color: rgb(244, 248, 10);
}

.texto {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.imgContacto {
  height: 35px;
  margin-right: 10px;
  margin-top: 5px;
  color: #84c95f;
}

.loguitos {
  border-radius: 100px;
  background-color: rgb(244, 248, 10);
  padding: 10px;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.img {
  width: 35px;
  height: 35px;
}

.contenedorTecnologias {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  margin: 20px;
  margin-top: 30px;
}

.contenedorinfo {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-left: 230px;
  padding-right: 100px;
}

.divProyec {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contenedorrr {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 230px;
  padding-right: 100px;
}

.contenedorrr2 {
  padding-left: 230px;
  padding-right: 100px;
}

.pApps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: #ffffff;
  text-justify: justify;
  
}

.quiensoy {
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 5px gray;
}

.textoC {
  display: flex;
  justify-content: center;
}

.contenedorrr2 {
  padding-left: 230px;
  padding-right: 100px;
}

.proyectos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}